anyio==4.9.0+computecanada
appdirs==1.4.4+computecanada
certifi==2025.7.14+computecanada
cobra==0.26.2+computecanada
depinfo==1.7.0+computecanada
diskcache==5.6.3+computecanada
future==1.0.0+computecanada
h11==0.16.0+computecanada
httpcore==1.0.9+computecanada
httpx==0.28.1+computecanada
idna==3.10+computecanada
importlib_resources==6.5.2+computecanada
markdown_it_py==3.0.0+computecanada
mdurl==0.1.2+computecanada
mpmath==1.3.0+computecanada
numpy==1.23.2+computecanada
optlang==1.6.1+computecanada
pandas==1.5.3+computecanada
pydantic==1.10.22+computecanada
pygments==2.19.2+computecanada
python_dateutil==2.9.0.post0+computecanada
python_libsbml==5.19.7+computecanada
pytz==2025.2+computecanada
requests
rich==14.1.0+computecanada
ruamel.yaml==0.18.14+computecanada
ruamel.yaml.clib==0.2.12+computecanada
six==1.17.0+computecanada
sniffio==1.3.1+computecanada
swiglpk==5.0.8+computecanada
sympy==1.14.0+computecanada
threadpoolctl
typing_extensions==4.14.1+computecanada
